<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="qBittorrent Official Website">
    <meta name="keywords" content="qBittorrent, torrent client, BitTorrent protocol, cross-platform, free and open-source software, GNU GPL, libtorrent-rasterbar, Qt, C++">
    <meta name="author" content="qBittorrent Development Team: https://github.com/qbittorrent">
    <meta name="robots" content="NOODP">
    <meta name="google-site-verification" content="2P14de1zV_NTk03Ebnc0wpPKWaeJoj7B9Tc_HtRkOfE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>qBittorrent : Official</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="favicon.ico"
      sizes="16x16 32x32 64x64">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      type="text/css"
      href="css/style.css">

    <link
      rel="stylesheet"
      type="text/css"
      href="css/header.css">

    <link
      rel="stylesheet"
      type="text/css"
      href="css/footer.css">

    <link rel="dns-prefetch" href="https://git.qbittorrent.org">
    <link rel="dns-prefetch" href="https://bugs.qbittorrent.org">
    <link rel="dns-prefetch" href="https://wiki.qbittorrent.org">
    <link rel="dns-prefetch" href="https://forum.qbittorrent.org">
  </head>
  <body>
    {%- include 'header' -%}
    <main>
      {{ content }}
    </main>
    {%- include 'footer' -%}
  </body>
</html>