header {
  animation: header-background 12s linear forwards;
  background:
    linear-gradient(45deg, #65d72a11 45px, transparent 45px) 64px 64px,
    linear-gradient(
      45deg,
      #65d72a11 45px,
      transparent 45px,
      transparent 91px,
      #2f67ba 91px,
      #2f67ba 135px,
      transparent 135px
    ),
    linear-gradient(
      -45deg,
      #65d72a11 23px,
      transparent 23px,
      transparent 68px,
      #65d72a11 68px,
      #65d72a11 113px,
      transparent 113px,
      transparent 158px,
      #65d72a11 158px
    );
  background-color: #2f67ba;
  background-size: 128px 128px;
  padding: 1rem;
  text-align: center;
}

header img {
  display: inline-block;
  width: 4rem;
}

header h1 {
  color: #fff;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

header nav .first a {
  background: lightblue;
  border-radius: 0.2rem;
  color: #000;
  font-weight: bold;
}

header nav ul li a {
  color: #fff;
  padding: 0.5rem;
}

header nav ul li a:hover {
  text-decoration: underline;
}

@keyframes header-background {
  to {
    background-size: 256px 256px;
  }
}
