<section class="downloadPlatformSection">
  <h3>Old Release Archive</h3>
  <ul>
    <li><a href="https://www.fosshub.com/qBittorrent-old.html"><p>FossHub</p></a></li>
    <li><a href="https://sourceforge.net/projects/qbittorrent/files/"><p>SourceForge</p></a></li>
  </ul>
</section>