---
layout: base.liquid
latestVersion: 4.5.4
---
<section>
  <h2>
    Discover qBittorrent: The open-source BitTorrent client for all platforms
  </h2>
  <p>The qBittorrent project aims to give you a
    <b>free</b>,
    <b>open-source</b>, and
    <b>ad-free</b>
    software alternative to other BitTorrent clients, such as µTorrent.</p>
  <p>
    It's built using the
    <a href="https://www.qt.io/" target="_blank">Qt</a>
    toolkit and
    <a href="https://www.libtorrent.org/" target="_blank">libtorrent-rasterbar</a>
    library.
  </p>
  <a class="btnVisitDownloads" href="/download">
    {% heroicon "solid" "download" %}
    Download latest: v{{ latestVersion }}
  </a>
  <p>
    <i>The same feature-set across all major platforms: Windows, Linux, MacOS, FreeBSD, and OS/2.</i>
  </p>
  <img
    id="clientPreview"
    src="img/clientPreview.png"
    alt="A screenshot of the qBittorrent client">
</section>
<section>
  <h2>
    Support qBittorrent: Your contribution means a lot to us
  </h2>
  <p>
    qBittorrent is a labor of love created by
    <a href="/team">volunteers</a>
    during their free time.
    If you appreciate this software, your donation can play a crucial role in sustaining its existence.
  </p>
  <p>
    You'll find donation information:
    <a href="/donate">here</a>.
  </p>
  <p>
    If you're interested in our translation efforts, please refer to these
    <a href="https://wiki.qbittorrent.org/How-to-translate-qBittorrent" target="_blank">instructions</a>.Your support is greatly valued.
  </p>
</section>
<section class="featureList">
  <h2>Feature-Rich qBittorrent: The ultimate torrenting solution</h2>
  <section>
    <h3>User interface and design{% heroicon "outline" "desktop-computer" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Polished and familiar interface</li>
      <li>{% heroicon "solid" "check" %} Web interface with remote control, written with AJAX, identical to regular GUI</li>
      <li>{% heroicon "solid" "check" %} No ads</li>
    </ul>
  </section>
  <section>
    <h3>Search and discovery{% heroicon "outline" "search" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Easy search with extensible search engine</li>
      <li>{% heroicon "solid" "check" %} Category specific searching (for example, books, music, and software)</li>
      <li>{% heroicon "solid" "check" %} Simultaneous search in many Torrent search sites</li>
    </ul>
  </section>
  <section>
    <h3>RSS feed and filters{% heroicon "outline" "rss" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Advanced RSS feeds with filters (including RegEx)</li>
    </ul>
  </section>
  <section>
    <h3>Torrenting functionality{% heroicon "outline" "switch-vertical" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Sequential downloading (download in order)</li>
      <li>{% heroicon "solid" "check" %} Advanced control over torrents, trackers, and peers</li>
      <li>{% heroicon "solid" "check" %} Torrent selection, queueing, and prioritising</li>
      <li>{% heroicon "solid" "check" %} Bandwidth scheduler</li>
      <li>{% heroicon "solid" "check" %} Torrent creation</li>
    </ul>
  </section>
  <section>
    <h3>Protocol and connectivity{% heroicon "outline" "shield-check" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Extension support: magnet links, distributed hash table (DHT), peer exchange protocol (PEX), local peer discovery (LPD), private torrents, encrypted connections, and more</li>
      <li>{% heroicon "solid" "check" %} IP Filtering (eMule and PeerGuardian format compatible)</li>
      <li>{% heroicon "solid" "check" %} IPv6 compliant</li>
      <li>{% heroicon "solid" "check" %} UPnP / NAT-PMP port forwarding support</li>
    </ul>
  </section>
  <section>
    <h3>Platform and compatability{% heroicon "outline" "chip" %}</h3>
    <ul>
      <li>{% heroicon "solid" "check" %} Available on all platforms: Windows, Linux, MacOS, FreeBSD, and OS/2</li>
      <li>{% heroicon "solid" "check" %}
        <a href="https://www.transifex.com/sledgehammer999/qbittorrent/">Available in 70+ languages</a>
      </li>
    </ul>
  </section>
</section>